@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


@media only screen and (max-width: 767px) {
    .desktop-only {
      display: none;
    }
}

@media only screen and (max-width: 767px) {
  .custom-calendar {
    width: 450px;
    font-size: 8px;
  }
}

.custom-calendar .rbc-toolbar-label {
  font-size: 35px;
  margin-bottom: 25px;
}

.sidebar-closed {
  margin: 100px;
}
